@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

body {
  margin: 0;
  background-repeat: repeat;
  padding-bottom: 4%;
}

p {
  color: rgb(240, 240, 240);
  font-size: 130%;
}