@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

body {
  margin: 0;
  font-family: "Amaranth";
  background-image: url("./assets/spacebg.jpeg");
  background-repeat: repeat;
  text-align: center;
}
